@charset "utf-8";

.container-wrapper {
  width: 100%;
  max-width: 800px;
}

.container-header {
  width: 100%;
  padding: 10px 0;
  border-bottom: solid 0px #aaa;
  overflow: hidden;
}

.container-main {
  width: 100%;
  min-height: calc(100vh - 159px);
}

.container-footer {
  padding: 10px 0;
  border-top: solid 0px #aaa;
  overflow: hidden;
}
