@charset "utf-8";

.post-title {
  font-weight: 400;
       margin-top: 1.568rem;
       margin-bottom: 1.568rem;
       font-size: 2.5rem;
       line-height: 0.784; }
.post-content p {
  line-height: 20px;
  margin-bottom: 16px;
}

.post-content ol,
.post-content ul {
  width: 55%;
  font-size: 1rem;
  margin: 16px 0 16px 24px;
}

.post-content li {
  line-height: 20px;
}

@media screen and (max-width: 760px) {
  .post-content ol,
  .post-content ul {
    width: 90%;
  }
}

.post-content img {
  display: block;
  margin: 10px auto;
}

.post-info {
  line-height: 24px;
  margin: 10px 0;
}

.post-category,
.post-tag {
  margin: 0 5px;
}
