<!DOCTYPE html>
<html lang="{{ site.language }}">
  <head>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    {% include head.html %}
  </head>
  <body>
    <div class="container-wrapper">
      <header class="container-header">
        {% include header.html %}
      </header>
      <main class="container-main">
        {{ content }}
      </main>
      <footer class="container-footer">
        {% include footer.html %}
      </footer>
    </div>
  </body>
</html>
